{
  "Version": "2012-10-17",
  "Id": "MineDeployBackupBucketPolicy",
  "Statement": [
    {
      "Action": [
        "s3:GetObject"
      ],
      "Effect": "Allow",
      "Resource": "${backup_bucket_arn}/*",
      "Principal": {
        "AWS": "*"
      }
    },
    {
      "Action": [
        "s3:ListBucket"
      ],
      "Effect": "Allow",
      "Resource": "${backup_bucket_arn}",
      "Principal": {
        "AWS": "*"
      }
    }
  ]
}
